@mixin buttonBase ($bg: transparent, $color: #7e8190, $bc: #e5e7ed) {
  border: 1px solid $bc;
  background-color: $bg;
  color: $color;
}
@mixin buttonHover ($bg: #eeeff5, $bc: #b3b5bd) {
  background-color: #eeeff5;
  border-color: #b3b5bd;
}
@mixin buttonActive ($bg: transparent) {
  background-color: $bg;
}
.simple-btn{
  display: inline-block;
  min-width: 60px;
  padding: 0 15px;
  line-height: 32px;
  text-align: center;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  &-default{
    @include buttonBase;
    &:hover{
      @include buttonHover;
    }
    &:active{
      @include buttonActive;
    }
    &[disabled]{
      @include buttonBase;
    }
  }
  &-primary{
    @include buttonBase($bg:#e5f0ff, $color: #006fff, $bc: #e5f0ff);
    &:hover{
      @include buttonHover($bg: #a2c6f0, $bc: #aed0ff);
    }
    &:active{
      @include buttonActive($bg: #e5f0ff);
    }
    &[disabled]{
      @include buttonBase($bg:#e5f0ff, $color: #006fff, $bc: #e5f0ff);
    }
  }
  &-danger{
    @include buttonBase($bg:#ff4d4f, $color: #fff, $bc: #ff4d4f);
    &:hover{
      @include buttonHover($bg: #ff7875, $bc: #ff7875);
    }
    &:active{
      @include buttonActive($bg: #ff4d4f);
    }
    &[disabled]{
      @include buttonBase($bg:#ff4d4f, $color: #fff, $bc: #ff4d4f);
    }
  }
  &[disabled]{
    cursor: not-allowed;
  }
}